HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Sensitive files
**/firebase-sdk.json
src/main/resources/firebaseSdk/firebase-sdk.json
src/main/resources/application.properties
src/main/resources/application-*.properties
tanzania.pub
tanzania-eureka-server.tar
tanzania

#Codespace files
ngrok.zip
ngrok-v3.tgz
ngrok-stable-linux-amd64.zip
cloudflared-*


# Sample file (will be tracked)
!src/main/resources/application-sample.properties


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
